# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# PyCharm
.idea/

# VSCode
.vscode/

# SQLite database
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Cache
.pytest_cache/